/* Global Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
header {
  font-family: 'Avenir', sans-serif;
  background-color: #0F1C30;
  color: white;
  padding: 20px 20px;
  text-align: right;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

header h1 {
  font-size: 60px;
  margin-bottom: 10px;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  margin: 0;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  color: white;
  padding: 15px 20px;
  font-weight: bold;
  text-transform: uppercase;
}

header nav ul li a:hover {
  background-color: #DED7C9;
  border-radius: 4px;
}

/* Resume Section */
.resume {
  padding: 100px 100px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.resume h2 {
  font-size: 50px;
  font-weight: bold;
  color: #2f3e44;
  margin-bottom: 20px;
}

.resume a {
  display: inline-block;
  font-size: 18px;
  background-color: #668dc0;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: transform 0.2s ease;
}

/* Social Links */
.social-links {
  display: flex;
  justify-content: center;
  gap: 15px; /* Espacio entre los íconos */
  margin-top: 20px;
}

.social-icon {
  display: inline-block;
  width: 30px; 
  height: 30px;
  text-align: center;
}

.social-icon-img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  transition: transform 0.3s ease; /* Efecto suave al pasar el ratón */
}

.social-icon-img:hover {
  transform: scale(2); /* Aumenta ligeramente de tamaño al pasar el ratón */
}

/* Footer */
footer {
  background-color: #0F1C30;
  color: white;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  margin-top: auto;
  position: fixed;
  bottom: 0; 
}

footer a:hover {
  text-decoration: underline;
}